/* resets */

html {
  box-sizing: border-box;
  font-size: 62.5%
}

body {
  background-color: #fffff4;
  color: rgb(39, 39, 39);
  font-family: 'Great Vibes', cursive;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  scroll-behavior: none;
}

*,
*:after,
*:before {
  box-sizing: border-box
}

/* layout */

main{
    padding: 2px;
    margin:2px;
    border: 5px solid black;
    font-size: 2rem;
}

@media (min-width: 40rem) {
 main{
  font-size: 3rem;
  }
}

.container{
    border: 3px solid black;
    height: 100%;
}

/* resets */
a {
  color: rgb(88, 134, 231);
  text-decoration: underline;

}

a:hover {
  color: #606c76
}

hr {
  border-top: 0.1rem solid #f4f5f6;
  border-width: 0;
  margin-bottom: 3.5rem;
  margin-top: 3rem
}

p {
  padding:0;
  margin-top: 0;
}

/* text */

h1,
h2,
h3
h4
{
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 0
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  line-height: 1.2
}

h2 {
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.25
}

h3 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  line-height: 1.3
}
h4 {
  font-size: 2.0rem;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  text-decoration: underline;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 10rem
  }

  h2 {
    font-size: 4.2rem
  }

  h3 {
    font-size: 3.6rem
  }

  h4 {
    font-size: 3.6rem
  }
}

/* spacing */
.spacingVertical{
  padding: 10vh 0
}
.spacingHorizontal{
  padding: 0 10vw;
}
.spacing {
  padding: 10vw;
}

.spacingVerticalSm {
  padding: 5vh 0
}
.spacingHorizontalSm {
  padding: 0 5vw;
}
.spacingSm {
  padding: 5vw;
}

/* flex */
.flex{
  display: flex;
}

.column{
 flex-direction: column;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.space-evenly{
  justify-content: space-evenly;
}

.space-between{
  justify-content: space-between;
}

/* components */
.form {
  width: 60%;
}
.form * {
  margin: 1vh 0
}

.attendeeListField,
.attendeeListField input[type="text"] {
  font-size: 2.5rem;
  border-bottom: thin solid black 0.5;
}
input[type="submit"] {
  color: rgb(83, 175, 83);
  text-decoration: underline solid rgb(83, 175, 83);

}
.attendeeListField input[type="button"] {
  position: relative;
  text-decoration: underline solid rgb(228, 84, 65);
  color: rgb(228, 84, 65);
  font-size: 2.5rem;
  margin-left: auto;
  /* bring the fieldset legend up closer to top of form */
  margin-bottom: -5px;
  right: 10px;
}

form.attendeeListField{
  background-color: white;
  display: inline-grid;
  padding: 3px;
  border: 3px solid black;
}
.attendeeListField {
  height: 0;
  z-index: 10;
  visibility: hidden;
  position: fixed;
  line-height: 0;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TODO https://github.com/gdkraus/accessible-modal-dialog for future reference */
.modalOverlay{
  z-index: 5;
  visibility: hidden;
}

.attendeeListField div{
  padding: 1vh 0
}

.fieldset {
  background:white;
}

.textFieldPlusOne{
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}

.attendeeRow{
  width: 100%;
  border: none;
  color: #394046;
  text-align: center;
}
.attendeeRow > span:hover{
  opacity: 0.6;
  cursor: pointer;
}
.attendeeRow:active {
  opacity: 0.6;
}
.attendeeRow input[type="text"]{
  border:none;
}

input[type=submit],
input[type=button] {
  font-family: inherit;
  font-size: 4rem;
  background: transparent;
  border: none;
}

input[type=button]:hover {
  cursor: pointer;
}

form input[type=submit]:hover{
  cursor: pointer;
}

input[type=text] {
  font-family: inherit;
  text-align: center;
  background: transparent;
  font-size: 2.5rem;
  border: none;
  border-bottom: 1px black solid;
}

.transformActive{
  visibility: visible;
  opacity: 1;
  font-size: inherit;
  line-height: inherit;
}
.transformActive {
  height: inherit
}
.transformActive input[type=submit]:hover,
.transformActive input[type=button]:hover {
  cursor: pointer;
}

.slideDown {
  line-height: inherit;
  visibility: visible;
  font-size: inherit;
  height: inherit
}

.highlightNumberRed {
  color: rgb(228, 84, 65);
}
.highlightNumberOrange {
  color: rgb(228, 185, 65);
}
.highlightNumberGreen{
  color: rgb(83, 175, 83)
}

